<h2 mat-dialog-title>
  @if (data.isDestructive) {
    <mat-icon class="warning-icon" aria-hidden="true">warning</mat-icon>
  }
  {{ data.titleKey | translate }}
</h2>

<mat-dialog-content>
  <p class="dialog-message">
    {{ data.messageKey | translate }}
  </p>
  <div class="target-badge">
    <mat-icon aria-hidden="true">mail</mat-icon>
    <span>{{ data.email }}</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onCancel()">
    {{ 'team.changeRoleDialog.cancelButton' | translate }}
  </button>
  <button
    mat-flat-button
    [color]="data.isDestructive ? 'warn' : 'primary'"
    type="button"
    (click)="onConfirm()"
  >
    {{ data.confirmKey | translate }}
  </button>
</mat-dialog-actions>
